*{
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
    display: flex;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}

.navBar {
    background-color: rgb(17, 3, 54);
    height:100%;
    width: 240px;
    left: 0;
    top: 0;
    position: fixed;
}
.navBar a {
    display:block;
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    padding: 3px;
    margin-left: 15px;
    opacity: 0.7;
}
.navBar a:hover{
    opacity: 1;
    font-size: 22px;
    transition: 0.3s;
}
.navBar p {
    font-size: 40px;
    margin: 15px 0 25px 35px;
    padding: 0;
    color: aliceblue;
}
.navBar hr {
    color: rgb(255, 255, 255);
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.3;
}
.logout {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    width: 100px;
    height: 35px;
    font-size: large;
    background-color: rgba(235, 3, 3, 0.966);
    border: 2px solid black;
    border-radius: 7px;
    color: white;
    font-weight: bolder;
    padding-top: 0;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}
.logout a {
    color: white;
    text-decoration: none;
}
.logout:hover{
    background-color: rgb(255, 44, 44);
}
.container {
    display: flex;
}
.header{
    background-color: rgb(17, 3, 54);
    position: fixed;
    margin-left: 240px;
    left: 0;
    top: 0;
    width: 100%;
    height:75px;
    font-size: 23px;
    align-items: center;
}
.headerText {
    padding: 0;
    margin-left: 18%;
    color:white;

}
.tipBox{
    background-color: rgb(186, 223, 255);
    margin:76px 0 0 240px;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    position: fixed;
}
.tip {
    position: fixed;
    padding-left: 10px;
    margin: 11px;
}
.filterBar  {
    background-color: rgb(255, 251, 251);
    margin:117px 0 0 240px;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    position: fixed;
    padding-top: 20px;
    display: flex;
}
.filterText {
    font-size: 24px;
    margin-top: 4px;
}
.bi-filter-square-fill{
    margin: 2px 10px 10px 50px;
    font-size: 25.5px;
}

.category {
    background-color: rgb(219, 211, 211);
    width: 140px;
    height: 26px;
    margin-left: 110px;
    margin-top: 4px;
    font-size: 15px;
    border-radius: 10px;
    border: 1.5px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    color: rgb(53, 52, 52);
    position: relative;
}
.dropdownContent {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    width: 75%;
    list-style-type: none; 
    border-radius: 5px;
    border: 1px solid black;
    
}
.categoryItem {
    padding: 12px;
    margin-left: -40px;
    padding-left: -10px;
    background-color: white;
    cursor: pointer;
}
.categoryItem:hover {
    background-color: rgb(221, 220, 220);
} 
.show {
    display: block;
    visibility: visible;
}

.bi-chevron-down{
    margin-top: 10px;
    margin-left: -26px;
    cursor: pointer;
    font-weight: bolder;
    position: relative;
    
}

.indexBar {
    background-color: rgb(225, 241, 255);
    margin:118px 0 0 240px;
    top: 0;
    left: 0;
    width: calc(100% - 240px);
    height: 45px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}
.indexName {
    margin-left: 50px;
}
.indexBar .bi-three-dots-vertical{
    margin-right: 25px;
}
.itemsContainer{
    margin:164px 0 0 240px;
    background-color: rgb(228, 242, 255);
    width: calc(100% - 240px);
    height: calc(100% - 164px);
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}
.addItemButton {
    font-size: 60px;
    z-index: 9;
    bottom: 25px;
    right: 25px;
    position: fixed;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border: none;
    background-color: green;
    color: white;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
}
.addItemButton:hover{
    background-color: rgb(1, 156, 1);
}
.addItemContainer {
    z-index: 101;
    background-color: rgb(150, 179, 179);
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    display: none;
    border-radius: 5px;
}
.showAddItemContainer {
    display: flex;
}
.overlay{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.active {
    display: flex;
    backdrop-filter: blur(15px);
}
.credentials{
    float: left;
    position: relative;
    align-items: center;
    
}

.input-container input[type="text"], .input-container input[type="password"] {
    flex: 1;
}
.addItemContainer label {
    color: rgb(0, 0, 0);
    margin: 25px 20px 0px 25px;
    font-size: medium;
    display: inline-block;
}
.addItemContainer input {
    margin: 2px 10px -20px 25px;
    width: 200px;
    height: 27px;
    border-radius: 4px;
    border: none;
    padding-left: 5px;
    padding-right: 50px;
    position: relative;
}
#username {
    padding-right: 30px;
}
.notesDiv {
    float: left;
    width: 200px;
    margin:37px 20px 20px 20px;
}
.notesInput {
    width: 200px;
    height: 175px;
    display: inline-block;
    padding: 5px;
    padding-top: 10px;
    justify-content: center;
    resize: none;
}
.notesInput::placeholder{
    text-align: center;
}
.bi-eye-slash{
    margin-left: -60px;
    cursor: pointer;
    position: absolute;
    background-color: white;
    width:30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    height: 17px;
    margin-top: 5px;
}
.bi-copy {
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin: 0;
    width: 22px;
    height: 19px;
    position: absolute;
    border-radius: 2px;
    margin-top: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    cursor: pointer;
    transform: translateY(-50%);
}
.c1 {
    top: 54%;
    left: 95%; /* Adjust the position of the first icon relative to the container */
    transform: translateX(-100%);
}

.c2 {
    top: 88%;
    left: 95%; /* Adjust the position of the second icon relative to the container */
    transform: translateX(-100%);
}
.passwordStrengthContainer{
    color: rgb(0, 0, 0);
    margin-left: 25px;
    margin-top: 230px;
}
#strengthBar {
    width: 200px;
    background-color: rgb(87, 88, 88);
    height: 12px;
    border-radius: 5px;
}
#strength {
    width: 0%;
    height: 100%;
    border-radius: 5px;
    transition: 0.3s;
}
.weak { 
    background-color: red;
}
.fair {
    background-color: orange;
}
.medium {
    background-color: yellow;
}
.strong {
    background-color: lightgreen;
}
.verystrong {
    background-color: green;
}
.generatorDiv{
    width: 96%;
    height: 110px;
    margin-left: 22px;
    padding: 0;
}
.generatorDiv p {
    margin: 0;
    margin-left: 3px;
    color: rgb(0, 0, 0);
}
.generatorDiv input {
    width: 60%;
    height:30px;
    margin: 15px 60px 0px 45px;

}
.generate{
    Width:32%;
    border-radius: 4px;
    border: none;
    height: 29px;
    padding: 5px;
    margin: 7px 5px 0 45px;
    background-color: rgb(253, 24, 24);
    cursor: pointer;
}
.generate:hover{
    background-color: rgb(226, 0, 0);
}
.copy {
    Width:32%;
    border-radius: 4px;
    border: none;
    height: 29px;
    padding: 5px;
    margin: 7px 0px 0 10px;
    background-color: rgb(2, 161, 2);
    cursor: pointer;
}
.copy:hover{
    background-color: rgb(3, 141, 3);
}
.genCp {
    margin-left: 43px;
    margin-top: 7px;
    display: flex;
    text-align: center;
    gap: 3px;
}

.submit {
    width: 80px;
    height: 35px;
    background-color: green;
    border: none;
    border-radius: 7px;
    color: white;
    margin: 10px;
    position: fixed;
    bottom: 0;
}
.cancel {
    width: 80px;
    height: 35px;
    background-color: green;
    border: none;
    border-radius: 7px;
    color: white;
    margin: 10px;
    position: fixed;
    bottom: 0;
    margin-left: 110px;
}
.itemsList {
    list-style-type:none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}
.itemDiv .bi-three-dots-vertical {
    margin-right: 20.5px;
    position: relative;
}
.action {
    position: absolute;
    z-index: 1;
    background-color: aliceblue;
    right: 0;
    margin-top: -45px;
    margin-right: 15px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 5px;
    color: red;
    visibility: hidden;
    cursor: pointer;
}
.action:hover{
    background-color: rgb(209, 232, 252);
}
.showaction{
    visibility: visible;
}
.itemDiv {
    background-color: rgb(255, 255, 255);
    width:99.2%;
    margin: 5px 10px 7px 5px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 0px 2px black;
}
.itemDiv p {
    margin-left: 45px;
}
.itemDiv p:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
